.icon-gogs{
  background-image: url(https://xhua-static.sh1a.qingstor.com/allinone/gogs.png);
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}
.icon-sonarqube{
  background-image: url(https://xhua-static.sh1a.qingstor.com/allinone/sonarqube.svg);
  width: 80px;
  height: 50px;
  background-size: 100% 100%;
}

.icon-nexus3{
  background-image: url(https://xhua-static.sh1a.qingstor.com/allinone/nexus3.png);
  width: 80px;
  height: 80px;
  background-size: 100% 100%;
}

.icon-easymock{
  background-image: url(https://xhua-static.sh1a.qingstor.com/allinone/easymock.png);
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
}

.icon-kelk{
  background-image: url(https://xhua-static.sh1a.qingstor.com/allinone/kelk.png);
  width: 70px;
  height: 42px;
  background-size: 100% 100%;
}

.icon-kafka{
  background-image: url(https://xhua-static.sh1a.qingstor.com/allinone/kafka.png);
  width: 70px;
  height: 35px;
  background-size: 100% 100%;
}